p {
	margin:0;
	padding:1.2em;
}

p a:link, p a:visited, p a:hover, p a:active {
	font-weight:bold;
	color:#BC2525;
}

ul#navigation-1 {
	list-style-type:none;
	list-style-position:initial;
	list-style-image:initial;
	width:100%;
	height:21px;
	font:normal normal normal 8pt/normal 'Open Sans', serif;
	z-index:100;
	margin:0;
	padding:1px 0px 1px 0px;
}

ul#navigation-1 li {
	display:block;
	float:left;
	position:relative;
	width:148px;
	z-index:100;
	margin:0;
	padding:0;
}

ul#navigation-1 li a:link, ul#navigation-1 li a:visited {
	display:block;
	text-align:center;
	text-decoration:none;
	background-image:initial;
	background-attachment:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#797B7F;
	color:#FFFFFF;
	width:148px;
	height:13px;
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
	z-index:100;
	padding:4px 0px 4px 0px;
}

ul#navigation-1 li:hover a, ul#navigation-1 li a:hover, ul#navigation-1 li a:active {
	display:block;
	text-align:center;
	text-decoration:none;
	background-image:initial;
	background-attachment:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#363739;
	color:#FFFFFF;
	width:146px;
	height:13px;
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
	z-index:100;
	border-left:1px solid #FFFFFF;
	border-right:1px solid #FFFFFF;
	padding:4px 0px 4px 0px;
}

ul#navigation-1 li a.navigation-sel {
	display:block;
	text-align:center;
	text-decoration:none;
	background-image:initial;
	background-attachment:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#BC2525;
	color:#FFFFFF;
	width:146px;
	height:13px;
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
	z-index:100;
	border-left:1px solid #FFFFFF;
	border-right:1px solid #FFFFFF;
	padding:4px 0px 4px 0px;
}

ul#navigation-1 li ul.navigation-2 {
	list-style-type:none;
	list-style-position:initial;
	list-style-image:initial;
	display:none;
	background-image:initial;
	background-attachment:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#FFFFFF;
	width:146px;
	position:absolute;
	top:21px;
	left:-1px;
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
	z-index:100;
	border-left:1px solid #FFFFFF;
	border-right:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;
	margin:0;
	padding:1px 1px 0px 1px;
}

ul#navigation-1 li:hover ul.navigation-2 {
	display:block;
}

ul#navigation-1 li ul.navigation-2 li {
	clear:left;
	width:146px;
	z-index:100;
}

ul#navigation-1 li ul.navigation-2 li a:link, ul#navigation-1 li ul.navigation-2 li a:visited {
	clear:left;
	background-image:initial;
	background-attachment:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#797B7F;
	width:146px;
	border-top-style:none;
	border-right-style:none;
	border-left-style:none;
	border-width:initial;
	border-top-color:#FFFFFF;
	border-right-color:#FFFFFF;
	border-left-color:#FFFFFF;
	position:relative;
	z-index:1000;
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
	border-bottom:1px solid #FFFFFF;
	padding:4px 0px 4px 0px;
}

ul#navigation-1 li ul.navigation-2 li:hover a, ul#navigation-1 li ul.navigation-2 li a:active, ul#navigation-1 li ul.navigation-2 li a:hover {
	clear:left;
	background-image:initial;
	background-attachment:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#363739;
	width:146px;
	border-top-style:none;
	border-right-style:none;
	border-left-style:none;
	border-width:initial;
	border-top-color:#FFFFFF;
	border-right-color:#FFFFFF;
	border-left-color:#FFFFFF;
	position:relative;
	z-index:1000;
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
	border-bottom:1px solid #FFFFFF;
	padding:4px 0px 4px 0px;
}

ul#navigation-1 li ul.navigation-2 li a.navigation-sel {
	clear:left;
	background-image:initial;
	background-attachment:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#BC2525;
	width:146px;
	border-top-style:none;
	border-right-style:none;
	border-left-style:none;
	border-width:initial;
	border-top-color:#FFFFFF;
	border-right-color:#FFFFFF;
	border-left-color:#FFFFFF;
	position:relative;
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
	z-index:100;
	border-bottom:1px solid #FFFFFF;
	padding:4px 0px 4px 0px;
}

ul#navigation-1 li ul.navigation-2 li ul.navigation-3 {
	display:none;
	list-style-type:none;
	list-style-position:initial;
	list-style-image:initial;
	position:absolute;
	left:145px;
	top:-2px;
	background-image:initial;
	background-attachment:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#797B7F;
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
	z-index:100;
	border:1px solid #FFFFFF;
	margin:0;
	padding:1px 1px 0px 1px;
}

ul#navigation-1 li ul.navigation-2 li:hover ul.navigation-3 {
	display:block;
}

ul#navigation-1 li ul.navigation-2 li ul.navigation-3 li a:link, ul#navigation-1 li ul.navigation-2 li ul.navigation-3 li a:visited {
	background-image:initial;
	background-attachment:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#797B7F;
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
}

ul#navigation-1 li ul.navigation-2 li ul.navigation-3 li:hover a, ul#navigation-1 li ul.navigation-2 li ul.navigation-3 li a:hover, ul#navigation-1 li ul.navigation-2 li ul.navigation-3 li a:active {
	background-image:initial;
	background-attachment:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#363739;
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
}

ul#navigation-1 li ul.navigation-2 li a span {
	position:absolute;
	top:0;
	left:132px;
	font-size:12pt;
	color:#FFFFFF;
	z-index:100;
}

ul#navigation-1 li ul.navigation-2 li:hover a span, ul#navigation-1 li ul.navigation-2 li a:hover span {
	position:absolute;
	top:0;
	left:132px;
	font-size:12pt;
	color:#FFFFFF;
}

